<div class ="container">

  <div class = "row">
    <div class = "col-lg-4 offset-lg-1 mb-3">
      <h3>会員情報編集</h3>
    </div>
  </div>

  <%= form_with model:@customer, local: true do |f| %>
  <div class  = "row">
    <div class = "col-lg-10 mb-3">
      <table class = "table table-borderless">
        <%# viewspublic/registrations/new.html.erb から貼り付け %>

        <tr>
          <td><%= f.label :"名前" %></td>
          <td>
            <%= f.text_field :last_name, autofocus: true, class: "mr-4", style: "width: 35%" %>
            <%= f.text_field :first_name, style: "width: 35%" %>
          </td>
        </tr>

        <tr>
          <td><%= f.label :"フリガナ" %></td>
          <td>
            <%= f.text_field :last_name_kata, class: "mr-4", style: "width: 35%" %>
            <%= f.text_field :first_name_kata, style: "width: 35%" %>
          </td>
        </tr>

        <tr>
          <td><%= f.label :"郵便番号", style: "width: 35%" %></td>
          <td><%= f.text_field :post_code, style: "width: 35%" %></td>
        </tr>

        <tr>
          <td><%= f.label :"住所" %></td>
          <td><%= f.text_field :address, style: "width: 100%" %></td>
        </tr>

        <tr>
          <td><%= f.label :"電話番号" %></td>
          <td><%= f.telephone_field :phone_number, style: "width: 35%" %></td>
        </tr>

        <tr>
          <td><%= f.label :"メールアドレス" %></td>
          <td><%= f.email_field :email, autocomplete: "email", style: "width: 35%" %></td>
        </tr>

        <tr>
          <td></td>
          <td>
            <%= f.submit "編集内容を保存", class: "btn btn-success mr-5" %>
            <%= link_to "退会する", quit_path, class: "btn btn-danger ml-4" %>
          </td>
        </tr>

      </table>
    </div>
  </div>
  <% end %>

</div>
