
  <div class = "image"></div>
<h1>1ページ</h1>

<p>ジャンル検索</p>
  <%@genres = Genre.all.each do |genre| %>
      <%= genre.name %>
    <%end%>

    <h1>ここにお店の自己紹介文が入る</h1>
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>

        <h1>ここに新着商品一覧が表示される</h1>

            <!--ここから商品一覧を表示-->

            <% @itemes.each do |item| %>
            <%= image_tag item.get_item_image(100,100) %><br>
            <%= item.name %><br>
            <%= item.price %><br>
            <% end %>

            <!--ここまで-->


            <p>全ての商品を見るリンクタグが入る</p>
            <%=link_to "aboutへ", about_path %><br>
            <%=link_to "商品一覧ページへ 5", items_path %><br>
            <%=link_to "商品詳細ページへ まだ飛べない 6"%><br>
            <%=link_to "注文一覧ページへ 16", orders_path %><br>
            <%=link_to "注文履歴詳細へ 17" , log_path %><br>
            <%=link_to "注文情報確認 9", new_order_path %><br>
            <%=link_to "ご購入ありがとうございますへ", thanks_path %><br>
            <%=link_to "注文履歴詳細 まだ飛べない", about_path %><br>
            <%=link_to "注文履歴一覧へ 7", cart_items_path %><br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>質問</h1>
<p>public/items/show/createができない</p>
<p>order/indexの数量と小計が表示されない</p>
<p>注文詳細画面に飛べない(public/orders/log)</p>
<p></p>
<p>ハッシュとは？どこで使われるのかが分からない(カート機能で使う)</p>
<p>バイディングプライの使い方が分からない</p>
<p>
CSSが適用しない(image.jpg)<br>
1.000ができないdelimited
</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
