<div class="container">
<h1>1ページ</h1>

<h1>ここにジャンル検索機能がくる</h1>
  <%@genres = Genre.all.each do |genre| %>
      <%= genre.name %>
    <%end%>

    <h1>ここにお店の自己紹介文が入る</h1>
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>

        <h1>ここに新着商品一覧が表示される</h1>

            <!--ここから商品一覧を表示-->

            <% @itemes.each do |item| %>
            <%= image_tag item.get_item_image(100,100) %><br>
            <%= item.name %><br>
            <%= item.price %><br>
            <% end %>

            <!--ここまで-->


            <p>全ての商品を見るリンクタグが入る</p>
            <%=link_to "aboutへ", about_path %><br>
            <%=link_to "商品一覧ページへ", items_path %><br>
            <%=link_to "商品詳細ページへ まだ飛べない"%><br>
            <%=link_to "注文一覧ページへ", orders_path %><br>
            <%=link_to "注文履歴詳細へ", log_path %><br>
            <%=link_to "注文情報確認", new_order_path %><br>
            <%=link_to "ご購入ありがとうございますへ", thanks_path %><br>
            <%=link_to "注文履歴詳細 まだ飛べない", about_path %><br>
            <%=link_to "注文履歴一覧へ", cart_items_path %><br>

            <%=link_to "ホームページ", root_path %><br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>