<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 mb-5 ">
      <h3>注文履歴一覧</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class='table'>
        <thead>
          <tr class= "table-secondary">
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order) %></td>
              <td><%= link_to "#{order.customer.last_name + order.customer.first_name}",admin_customer_orders_path(order.customer.id) %></td>
              <% @item_count = 0 %>
              <%  order.order_details.each do |detail| %>
                <% @item_count += detail.item_count %>
              <% end %>
              <td><%= @item_count %></td>
              <td><%= order.order_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @orders %>
    </div>
  </div>
</div>