<div class="container-fluid registration py-5">
<div class="row">

<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>


    <div class="form-inline">
     <%= f.label :"名前", class: "brown-border px-3" %>
     <%#= f.label :"(姓)", class: "col-sm-2 control-label" %>
     <div class="row">
     <%= f.text_field :last_name, autofocus: true, class: "form-control offset-1 col-5" %>
     <%#= f.label :"(名)", class: "col-sm-2 control-label" %>
     <%= f.text_field :first_name, class: "form-control offset-1 col-5" %>
     </div>
     <%= f.label :"フリガナ", class: "px-3" %>
     <div class = "row">
     <%#= f.label :"(セイ)", class: "px-3" %>
     <%= f.text_field :last_name_kata, class: "form-control offset-1 col-5" %>
     <%#= f.label :"(メイ)", class: "px-3" %>
     <%= f.text_field :first_name_kata, class: "form-control offset-1 col-5" %>
     </div>
  </div>

  <div class = "form-inline">
     <%= f.label :"メールアドレス", class: "px-3" %>
     <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-9" %>
  </div>

  <div class = "form-inline">
     <%= f.label :"郵便番号(ハイフンなし)", class: "px-3" %>
     <%= f.text_field :post_code, class: "form-control col-9" %>
  </div>

  <div class = "form-inline">
     <%= f.label :"住所", class: "px-3" %>
     <%= f.text_field :address, class: "form-control col-9" %>
  </div>

  <div class = "form-inline">
     <%= f.label :"電話番号(ハイフンなし)", class: "px-3" %>
     <%= f.telephone_field :phone_number, class: "form-control col-9" %>
  </div>

  <div class = "form-inline">
     <%= f.label :"パスワード(6文字以上)", class: "px-3" %>
     <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-9" %>
  </div>

  <div class = "form-inline">
     <%= f.label :"パスワード(確認用)", class: "px-3" %>
     <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-9" %>
  </div>

  <div class = "actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h4>既に登録済の方</h4>
<%= render "public/shared/links" %><p>からログインしてください。</p>

</div>
</div>
