<div class="container">

 <div class="row">
   <div class = "col-lg-4 offser-lg-1 mb-3">
    <h3>新規会員登録</h3>
  </div>
 </div>

 <div class = "row">
   <div class = "col-lg-12 mx-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

        <div class="form-group">
          <div class = "form-inline row">
           <%= f.label :"名前flex取れない", class: "col-sm-3" %>
           <%= f.label :"(姓)" %>
           <%= f.text_field :last_name, autofocus: true, placeholder: "山田", class: "form-control mr-3" %>
           <%= f.label :"(名)" %>
           <%= f.text_field :first_name, placeholder: "太朗", class: "form-control mr-3" %>
          </div>
        </div>

        <div class="form-group">
          <div class = "form-inline row">
           <%= f.label :"フリガナ", class: "col-sm-3" %>
           <%= f.label :"(セイ)" %>
           <%= f.text_field :last_name_kata, placeholder: "ヤマダ", class: "form-control mr-3" %>
           <%= f.label :"(メイ)" %>
           <%= f.text_field :first_name_kata, placeholder: "タロウ", class: "form-control mr-3" %>
          </div>
        </div>

        <div class = "form-group row">
         <%= f.label :"メールアドレス", class: "col-sm-3" %>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@wxample.com", class: "form-control", style: "width: 60%" %>
        </div>

        <div class = "form-group row">
         <%= f.label :"郵便番号(ハイフンなし)", class: "col-sm-3" %>
         <%= f.text_field :post_code, placeholder: "1234567", class: "form-control", style: "width: 60%" %>
        </div>

        <div class = "form-group row">
         <%= f.label :"住所", class: "col-sm-3" %>
         <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control", style: "width:60%" %>
        </div>

        <div class = "form-group row">
         <%= f.label :"電話番号(ハイフンなし)", class: "col-sm-3" %>
         <%= f.telephone_field :phone_number, placeholder: "123456789", class: "form-control", style: "width: 60%" %>
        </div>

        <div class = "form-group row">
         <%= f.label :"パスワード(6文字以上)", class: "col-sm-3" %>
         <%= f.password_field :password, autocomplete: "new-password", class: "form-control", style: "width: 60%" %>
        </div>

        <div class = "form-group row">
         <%= f.label :"パスワード(確認用)", class: "col-sm-3" %>
         <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", style: "width: 60%" %>
        </div>

        <div class = "form-group row">
          <div class = "col-sm-3"></div>
          <%= f.submit "新規登録", class: "btn btn-success", style: "width: 25%" %>
        </div>
    <% end %>
  </div>
 </div>

  <div class="row">
    <div class = "col-lg-4 offser-lg-1 mb-3">
      <h5>既に登録済の方</h5>
    </div>
  </div>
  <div class = "row">
    <div class = "col-lg-12 mx-auto">
      <%= link_to "こちら", new_session_path(resource_name) %>からログインしてください。
    </div>
  </div>

</div>
