<h1>9ページ</h1>
<h3>注文情報確認</h3>
<table class = "table">
  <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
      <% @total = 0 %>
     <% @cart_items.each do |cart| %>
  <tr>
    <td><%= cart.item.name %></td>
    <td> <%= (cart.item.with_tax_price).to_s(:delimited) %></td>
    <td><%= cart.item_count %></td>
    <td><p>￥<%= (@total += ((cart.item.price*cart.item_count)*1.1).to_i).to_s(:delimited) %>円(税込)</td>
  </tr>
  <% end %>
</table>

<table class = "table">
 <tr>
   <th>送料</th>
   <td><%= @order.postage %></td>
 </tr>

  <tr>
   <th>商品合計</th>
   <td><%= (@total).to_s(:delimited) %></td>
 </tr>

  <tr>
   <th>請求金額</th>
   <td><%= (@order.postage + @total).to_s(:delimited) %> </td>
 </tr>
</table>

<table class = "table">
 <tr>
   <th>支払い方法</th>
   <td><%= @order.payment_method_i18n %></td>

   <th>お届け先</th>
   <td>〒<%= @order.post_code + @order.address %></td>
   <td><%= @order.address_name %></td>
 </tr>
</table>





<!-- ユーザーには注文確定ボタンだけ表示します -->
<%= form_with model: @order, local: true do |f| %>
  <%= f.hidden_field :address_name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :payment_method %>
  <%= f.hidden_field :post_code %>
  <%= f.hidden_field :postage %>
  <%= f.hidden_field :billing_amount, value: @total %>
  <%= f.submit "注文を確定する" %>
<% end %>

<%=link_to "ホームページ", root_path %><br>