
<h1>8ページ</h1>


<h1>注文情報入力</h1>

<h1>支払い方法</h1>
<%= form_with model: @item do |f| %>

<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %><br>

<%= f.radio_button :payment_method, "credit_card" %>
<%= f.label :payment_method, "クレジットカード" %>

<%= f.radio_button :payment_method, "transfer" %>
<%= f.label :payment_method, "銀行振込" %>

<%end%>
<h1>お届け先</h1>
<p>ご自身の住所</p>
<p>登録済住所から選択</p>
<p>新しいお届け先</p>

<h1>確認画面へ進む</h1>



<%=link_to "ホームページ", root_path %><br>