<h1>8ページ</h1>
<h1>9ページ</h1>

 <% @total = 0 %>
<!-- ユーザーに確認してもらうための表示です -->
<% @cart_items.each do |cart| %>

  <%= cart.item.name %><br> <!-- 商品名 -->
  <%= (cart.item.price).to_s(:delimited) %><br>
  <p>個数:<!-- 金額 -->
  <%= cart.item_count %></p> <!-- 個数 -->
  <p>￥<%= subtotal = (cart.item.price*cart.item_count).to_s(:delimited) %>円（税抜）</p><br> <!-- 小計 -->
  <p>￥<%= @total += ((cart.item.price*cart.item_count)*1.1).to_i %>円(税込)<p><br>
<% end %>

<p>ご請求金額</p>
<%= @total.to_s(:delimited) %> <!-- お買い物の合計金額 -->
<p>お届け先</p>
<%= @order.address %>

<!-- ユーザーには注文確定ボタンだけ表示します -->
<%= form_with model: @order, local: true do |f| %>
  <%= f.hidden_field :address_name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :payment_method %>
  <%= f.hidden_field :post_code %>
  <%= f.hidden_field :postage %>
  <%= f.hidden_field :billing_amount, value: @total %>
  <%= f.submit "注文を確定する" %>
<% end %>

<%=link_to "ホームページ", root_path %><br>