<div class= "container">
<h3 class= "order-new-had">注文情報入力</h3>

<%= form_with model: @order, url:log_path ,method: :post, local: true do |f| %>
  <p class= "order-new-bold">支払方法</p>

  <%= f.radio_button :payment_method, Order.payment_methods.key(0), class: "order-new-margin-left" %>
  <%= f.label :payment_method, "クレジットカード" %>

<br>
  <%= f.radio_button :payment_method, Order.payment_methods.key(1), class: "order-new-margin-left" %>
  <%= f.label :payment_method, "銀行振り込み" %>
 <br>

<!-- customer テーブルに登録されている住所の場合です -->
<p class= "order-new-bold">お届け先</p>
  <%= f.radio_button :address_number, 1 , class: "order-new-margin-left"%> <!-- address_number と定義して1～3の番号を check に送ります -->
  <%= f.label :address_number_1, "ご自身の住所" %><br>
  <div class= "order-new-margin-left-left">
  <%= current_customer.post_code %>
  <%= current_customer.address %>
  <%= current_customer.last_name+current_customer.first_name%>
  </div>
<br>

<!-- 登録されたaddressから選んでもらう場合です -->
 <%= f.radio_button :address_number, 2, class: "order-new-margin-left"%>
    <%= f.label :address_number_2, "登録先の住所から選択" %><br>
     <div class= "order-new-margin-left-left">
     <%= f.collection_select(:registered, current_customer.addresses.all, :id, :address) %>
   </div>
  <br>
    <%= f.radio_button :address_number, 3, class: "order-new-margin-left" %>
    <%= f.label :address_number_3, "新しいお届け先" %><br>
    <%= f.label :post_code, "郵便番号(ハイフンなし)" ,class: "address_number-3" %>
    <%= f.text_field :post_code, placeholder: "123456789" %><br>
    <%= f.label :address, "住所", class:"address_number" %>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class:"order-new-address" %><br>
    <%= f.label :address_name, "宛名", class:"address_number"  %>
    <%= f.text_field :address_name, placeholder: "新規太郎" %><br>


  <!-- 選んでもらったデータを送ります -->
  <br>
  <div class= "order-new-footer mb-3">  <%= f.submit "確認画面へ進む", class: "btn btn-success" %></div>

<% end %>

</div>


