
<h1>17ページ</h1>


<h1>注文履歴詳細</h1>

<h1>注文情報</h1>

<h1>注文日</h1>
<p>日付</p>



<%= form_with model: @item do |f| %>
<p>配送先</p>
<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>

<p>支払方法</p>
<%= f.radio_button :payment_method, "credit_card" %>
<%= f.label :payment_method, "クレジットカード" %>

<%= f.radio_button :payment_method, "transfer" %>
<%= f.label :payment_method, "銀行振込" %>

<%end%>

<h1>ステータス</h1>
<p>入金確認</p>




<h1>請求額</h1>

<h1>商品合計</h1>
<p>値段</p>

<h1>配送料</h1>
<p>値段</p>

<h1>ご請求額</h1>
<p>値段</p>


<h1>注文内容</h1>


<h1>商品</h1>
<p>商品名</p>


<h1>単価</h1>
<p>値段</p>

<h1>個数</h1>
<p>数字が入る</p>

<h1>小計</h1>
<p>値段</p>



<%=link_to "ホームページ", root_path %><br>
