
<h1>6ページ</h1>

<p>ジャンル検索</p>

    <%@genres = Genre.all.each do |genre| %>
      <%= genre.name  %><br>
    <%end%>
<br><br><br><br>
          <%= image_tag @item.get_item_image(100,100) %>

              <%= @item.name %>
              <p>￥<%= @item.with_tax_price%></p>

                 <% if @item.is_active == TRUE %>
                    <%= form_with(model: @cart_item,url: cart_items_path, method: :post,local: true) do |f| %>
                       <%= f.hidden_field :item_id, :value => @item.id%>
                       <%= f.hidden_field :customer_id, :value => current_customer.id %>
                       <%= f.select :item_count, *[1..10], include_blank: "個数選択" %>
                      <%= f.submit "カートに入れる" %>
                    <%end%>
                <%end%>

<%=link_to "ホームページ", root_path %><br>
