<header>
  <nav class = "navbar navbar-expand-lg navbar-light" style = "background-color: #fffacd">
    <div class = "container-fluid">

      <a class = "navbar-brand" href = "/"><span>ながのcake</span></a>

      <% if customer_signed_in? %>
      <p class="text-center">(中央寄せにしたい)ようこそ、<%= current_customer.last_name %>さん！</p>
      <ul class = "navbar-nav ml-auto">

        <button type="button" class="btn btn-outline-secondary m-1 btn-sm">
           <li class = "nav-item">
             <%= link_to "マイページ", customer_path(current_customer), class: "nav-link text-dark" %>
           </li>
        </button>

        <button type="button" class="btn btn-outline-secondary m-1 btn-sm">
          <li class = "nav-item">
            <%= link_to "商品一覧", items_path, class: "nav-link text-dark" %>
          </li>
        </button>

        <button type="button" class="btn btn-outline-secondary m-1 btn-sm">
          <li class = "nav-item">
            <%= link_to "カート", cart_items_path, class: "nav-link text-dark" %>
          </li>
        </button>

        <button type="button" class="btn btn-outline-secondary m-1 btn-sm">
          <li class = "nav-item">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link text-dark" %>
          </li>
        </button>
       </ul>

      <% else %>

      <p>(中央寄せにしたい)ようこそ、ゲストさん！</p>
      <ul class = "navbar-nav ml-auto">

        <button type="button" class="btn btn-outline-secondary m-1 btn-sm">
          <li class = "nav-item">
            <%= link_to "About", about_path, class: "nav-link text-dark" %>
          </li>
        </button>

        <button type="button" class="btn btn-outline-secondary m-1 btn-sm">
          <li class = "nav-item">
            <%= link_to "商品一覧", items_path, class: "nav-link text-dark" %>
          </li>
        </button>

        <button type="button" class="btn btn-outline-secondary m-1 btn-sm">
          <li class = "nav-item">
            <%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-dark" %>
          </li>
        </button>

        <button type="button" class="btn btn-outline-secondary m-1 btn-sm">
          <li class = "nav-item">
            <%= link_to "ログイン", new_customer_session_path, class: "nav-link text-dark" %>
          </li>
        </button>
      </ul>

      <% end %>

    </div>
  </nav>
</header>