<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# request.fullpath → 最後にリクエストされたURLのパラメターを含むフルパス %>
    <% if request.fullpath.include? "admin" %>
     <%= render "layouts/admin_header" %>
    <% else %>
     <%= render "layouts/customer_header" %>
    <% end %>
    <%# adminとcustomerを同じHTML内に記述する場合は
    [if customer_signed_in?],[customerのヘッダー記述],
    [elsif admin_signed_in?],[adminのヘッダー記述],[end]でできそう%>

    <div><strong>
      サクセス・エラーメッセージ(確認用)
      <%= flash[:notice] %>
      <%= flash[:error] %>
    </strong></div>

    <%= yield %>
  </body>
</html>
